h1{
  width: 35%;  
  padding: 0px;
  border: 2px dashed #800000;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
  font-weight: bold; 
  text-align: center;
}

img {
  width: 10em;
  padding: 0.3em;
  border: 0em;
  margin: 0em;
} 


#planets{
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  padding: 8px;
	border: 1px solid;
  text-align: center;
  }

#planets th{
  background-color: grey;
  border: 0px;
}

.hover-data:hover td{
  background-color: #CC9966;
} 

.planet-titles{
  color: #800000;
  font-size: 2em;
  font-weight: bold;
}

.side-titles{
  color: #800000;
  font-size: 1.2em;
  font-weight: bold;
}

.side-titles-column{
  background-color: #CC9966;
  text-align: left;
}

.lightgrey{
  background-color: #F8F8F8;
}

.darkgrey{
  background-color: #D8D8D8;
}

.image-back{
  background-color: #000000;
}